<div class="header">
    <div class="header-text">{{text}}</div>
</div>
<div class="nav-pane">

  <ul class="nav-pane-list">
    <li id="active" (click)="homeScreen.emit()">
      HOME
    </li>
    <li id="add-item" (click)="lightBox.emit()">+ADD</li>
    <li id="add-mock" (click)="mockData.emit()">MOCK DATA</li>
    <li id="add-mock" (click)="deleteData.emit()">DELETE DATA</li>
  </ul>

  <i style="color:white" class="glyphicon glyphicon-search"></i>
      <input id="search-box" type="search" placeholder="Search for Contacts" [(ngModel)]="query" (keypress)="event()"/>

  <div class="nav-pane-image">
    <img src="/assets/blog-icon.png">
  </div>

</div>
