@using System.Web.Optimization

@{
  ViewBag.Title = "Index";
    Layout = null;
}

<html>

<head>

  <title>Testing</title>

  <base href="/" />

  <link rel="stylesheet" href="~/Scripts/bootstrap.min.js" type="text/css" />
  
  <script src="~/dist/MVCAngular/polyfills.js" type="module"></script>
  <script src="~/dist/MVCAngular/styles.js" type="module"></script>
  <script src="~/dist/MVCAngular/runtime.js" type="module"></script>
  <script src="~/dist/MVCAngular/vendor.js" type="module"></script>
  <script src="~/dist/MVCAngular/main.js" type="module"></script>

  @*
  <script src="~/dist/MVCAngular/main-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/polyfills-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/styles-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/runtime-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/vendor-es2015.js" type="module"></script>*@

</head>

<body>
  <app-root></app-root>
</body>

</html>


