@{
  ViewBag.Title = "Index";
    Layout = null;
}

<html>

<head>

  <base href="/"/>

  <link rel="stylesheet" href="~/Scripts/bootstrap.min.js" type="text/css" />

  <script src="~/dist/MVCAngular/polyfills-es5.js" nomodule defer></script>
  <script src="~/dist/MVCAngular/polyfills-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/styles-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/styles-es5.js" nomodule defer></script>
  <script src="~/dist/MVCAngular/runtime-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/vendor-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/main-es2015.js" type="module"></script>
  <script src="~/dist/MVCAngular/runtime-es5.js" nomodule defer></script>
  <script src="~/dist/MVCAngular/vendor-es5.js" nomodule defer></script>
  <script src="~/dist/MVCAngular/main-es5.js" nomodule defer></script>

</head>

<body>
  <app-root></app-root>
</body>

</html>


